<div><%= @post.title %></div>
<div><%= @post.body %></div>
<h5>comments:</h5>
<div id="comments">
<% @post.comments.each do |comment| %>
  <li><%= comment.body %></li><br>
<% end %>
</div>
<div id="comment_area">
<% if show_edit_actions(@post) %>
| <%= link_to 'edit', edit_post_path(@post) %> | <%= link_to 'delete', @post, :method => :delete %>
 <% end %>
<%= link_to 'comment', new_post_comment_path(@post), :id => "comment_link" %> </div>
