<%= form_for @post do |f| %>
   <%=f.label :title %>
  <div><%= f.text_field :title %></div><br>
  <%=f.label "Your cool URL" %>
  <div><%= f.text_area :body %></div>
  <div><%= f.submit "Create new!" %></div>
<% end %>
