<div><%= @post.title %></div>
<div><%= @post.body %></div>
<br>
<h5>comments:</h5>
<span class="comments">
<% @post.comments.each do |comment| %>
  <li><%= comment.body %></li><br>
<% end %>
</span>
<br>
<br>
<div><%= link_to 'comment', new_post_comment_path(@post) %> | <%= link_to 'edit', edit_post_path(@post) %> | <%= link_to 'delete', @post, :method => :delete %></div>

